body{
    background: hsl(185, 75%, 39%);
    font-family:'Kumbh Sans', sans-serif ;
}

.top-img{
    transform: translate(-20%, -50%);
}

.container{
    height: 400px;
    width: 350px;
    background: white;
    position: relative;
    top: -800px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    z-index: 2;
}



.profile-pic{
    display: block;
    margin-left: 127px;
    margin-top: -50px;
    border-radius: 50%;
}
.name-age-box{
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.name{
    margin-top: 10px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
}

.age{
    font-weight: 300;
    font-size: 18px;
    padding: 10px;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: -10px;
}

.bottom-img{
    transform: translate(50%, -110%);
}

.social-metrics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 30px;
}

.metric-numbers{
    font-size: 18px;
    font-weight: 700;
    padding-right: 40px;
}

.metric-items{
    font-size: 12px;
    padding-right: 40px;
    padding-top: 5px;
}