body{
    background: hsl(185, 75%, 39%);
    font-family:'Kumbh Sans', sans-serif ;
    font-size: 18px;
}

.top-img{
    transform: translate(-20%, -50%);
}

.container{
    height: 400px;
    width: 350px;
    background: white;
    position: relative;
    top: -800px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}